* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: "M PLUS Rounded 1c", "Noto Sans JP", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}