.hero {
  background-image: url(../img/hero.webp);
  height: 100vh;
  background-size: cover;
  margin-top: 137px;
  color: #fff;
  .hero__title {
    margin-left: 2rem;
    h1{
      font-size: 100px;
      font-weight: bold;
      margin-bottom: 16px;
    }
    a {
      text-decoration: none;
      color: #fff;
      background-color: #36b3b0;
      padding: 1rem 2rem;
      border-radius: 2rem;
      font-size: 1.6rem;
    }
  }
}
